<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <meta name="description" content="">
  <title>{{$title}}Passopolis{{/title}}</title>

  <script src="../config.js"></script>
  <script src="../contentlog.js"></script>
  <script src="../utils.js"></script>
  <script src="../jquery.min.js"></script>
  <script src="../js/underscore-min.js"></script>
  <script src="../js/jquery.mousewheel.js"></script>
  <script src="../js/jquery.jscrollpane.min.js"></script>
  <script src="../js/hogan-template.js"></script>
  <script src="../js/modal-dialog-template.js"></script>
  <script src="../js/admin-common.js"></script>
  <script src="../js/client.js"></script>
  <script src="../helpers_common.js"></script>
  <script src="../helpers.js"></script>
  <script src="../js/background-init.js"></script>

  <link href="../css/mitro_popup2.css?v=2" rel="stylesheet" media="all">
  <link href="../css/loaders.min.css" rel="stylesheet" media="all">
{{$includes}}
{{/includes}}
</head>

<body>
  <div id="wrap">
{{$content}}
{{/content}}
  </div>
</body>
</html>
