{{<org-template}}
{{$includes}}
{{/includes}}

{{$content}}
<h1>Privacy Policy</h1>
<p><b>Last Update: July 26th, 2015</b></p>

    <p>
      Our privacy policy is short and to the point: The only
      information we collect on you is what we need to run the service
      and to keep it safe. We will never use any information you
      provided for any other purpose.
    </p>
    <p>
      If we ever want or need to use your information for a different
      purpose we will ask for your explicit approval before doing so.
    </p>

{{/content}}
{{/org-template}}
